* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Schriften einbinden Vorlage
Schriften müssen noch eingefügt werden*/
/*@font-face {
    font-family: "Didact";
    src: url(/domain-monitor/fonts/didactttf.ttf) format('truetype');
    src: url(/domain-monitor/fonts/didactwoff.woff) format('woff');
    src: url(/domain-monitor/fonts/didactgothic.otf) format('opentype');
*/

/*Tabelle allgemein*/
.clear{
    clear: both;
}

body{
    margin: 0;
    background-color:  #31373d;
}

table {
    border-collapse: collapse;
    min-width: 100%;
    color: #fff;
}

/*Abwechselnde Farben der Domain Liste*/
table tr:nth-child(odd) {
    background-color: #5b687b;
}

table tr:nth-child(even) {
    background-color:#738298;
}

/*Formatierung Ueberschriften und Unterpunkte*/
table td, table th {
    padding: 1.5% 4%;
    margin: 2%;
    text-align: left;
}

/*Statusanzeige: habe ich erstmal nur auf "Verfügbar" gestellt
Die Farbänderung machen wir wahrscheinlich mit Javascript
grün: #1d994f;
rot: #e24b4b */
td span {
    background-color: #1d994f;
    padding: 8%;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
}

/*Zahnrad und Muelleimer Formatierung*/
table img {
    max-width: 50%;
    height: auto;
}

/*Anderer Teil*/
/* flex box wird definiert */
section{
    width: 100%;
    height: 98%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

/*Linke Außenbox*/
.column-left{
    width: 30%;
    order: 1;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10% 5% 5% 5%;
}

/*rechte Außenbox*/
.column-right{ 
    width: 70%;
    order: 2;
   background-color:#31373d; 
   display: flex;  
   flex-direction: column;
   flex-wrap: wrap;
   padding: 10%;
   align-content: space-evenly;/**?????**/
   align-items: flex-start;
}

h1{
    color: white;
    font-size: 2.5em;
    margin: 0;
}

/**Überschrift und Logo sollen nebeneinander**/
.column-right .logo{
    display:flex;
    flex: nowrap;
    flex-direction: row;
}

/**Domaineingabefeld **/
.domain-eingabe{
    padding: 10% 5% 4% 0%;
    display:flex;
    flex-direction: row;
    flex: nowrap;
    width:100%;
}

#eingabefeld{
    border-radius: 0.5em;
    height: 2.8em;
    width: 60%;
    margin-right: 6%;
    color: #738298;
    border: 0px solid white;
}

#eingabefeld::placeholder{
padding-left: 5%;
}

/** Hinzufügen button**/
.domain-eingabe .button{
    border-radius: 0.5em;
    height: 2.8em;
    width: 16%;
    background-color: #738298;
    color: white;
    border: 0px solid white;
}

footer{
    background-color: #31373d;
    border-top: 2px solid white;
}

footer ul{
    width: 100%;
    height: 10px;
    margin: 0;
}

footer ul li{
    float: right;
    list-style: none;
    color: white;
    padding: 2% 2% 2% 5%;
    
    
}

@media all and (max-width: 990px){
    section{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .column-right{ 
       width: 100%;
       background-color:#31373d; 
       padding: 10%;
    }

    .column-left{
    width: 100%;
    padding: 10% 30% 10% 10%;

    }
}
